html {
  margin: auto;
  padding: 10px;
}
body {
        background-image: url('img_flowers.jpg');
    }
h1 {
  font-family: helvetica;
  font-size: 30px;
  color: black;
  text-transform: uppercase;

}

body div {
  font-family: helvetica;
  text-transform: uppercase;
  display: inline-block;
  padding: 30px;
  align-content: center;
  text-align: center;
  width: 20%;
  height: 20%;
  padding: 30px;
  margin: auto;
  border: 5px dashed  gold;
  /* background-color: green; */
}
