html {
        background-image: url('images/sun-pattern.png');
        background-repeat:repeat;
    }

.boxes {
  display: block;
  width: 95%;
}
.ibox1 {
  width: 50%;
  height: 50%;


  box-sizing: border-box;

  display: inline;
  position: relative;

}
.ibox2{
  width: 50%;
  height: 50%;
  box-sizing: border-box;

  display: inline;
  position: relative;

}

div img {
  /* width: 47%; */
  max-width: 47%;

  border: 5px solid  blue;
  padding: 5%;

  box-sizing: border-box;

}
