
/* can't change the width border or padding  */
.ibox {
  width: 50%;
  border: 5px solid  blue;
  padding: 5%;
  display: inline;
  height: auto;
  /* position: relative; */
  /* margin: auto; */
  /* box-sizing: border-box; */
}

div img {
  margin: 0 auto;
  display: inline-block;
  /* width: 100%; */
  position: relative;

}
