html {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

#content {
  background-color: #706D65;
  display: block;
  padding-right: 150px;
}

#content ul {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}

}

aside ul {
  display: block;
}

aside {
  display: block;
  height: 400px;
  width: auto;
  background-color: white;
  background-image: url(http://www.literarygenius.info/images/william-shakespeare.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  float: right;
}

* {
  margin: 0;
}

nav {
  background-color: green;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 10px 15px 15px 35px;
  background-color: black;
  height: 20px;
}

nav ul a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  /* background-color: black; */
  /* padding: 5px 15px 10px 20px */
}

header {
  text-align: right;
  background-color: yellow;
  height: 40px;
}

body {
  height: 400px;
  margin: 0 auto;
  padding: 0 auto;
}

footer {
  background-color: green;
  padding: 15px 15px 15px 5px;
}
